@{
    ViewData["Title"] = "Timeslots";
    Layout = "~/Areas/Patient/Views/Shared/_PatientLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="page-title">Timeslots</h2>
            <div class="timeslots-content">
                <!-- Your timeslots content here -->
                <p>Dashboard content.</p>
            </div>
        </div>
    </div>
</div> 